html {
    font-size: calc(1em + 1vw)
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.dimmed,
.dimmed a {
    color: #ccc;
    font-size: 1.4vw;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@-webkit-keyframes hover-change {
   0%   {background-color: #255E69;}
   25%  {background-color: #655091;}
   50%  {background-color: #AA7D39;}
   75%  {background-color: #9B4D8A;}
   100% {background-color: #255E69;}
}

@-moz-keyframes hover-change {
   0%   {background-color: #255E69;}
   25%  {background-color: #655091;}
   50%  {background-color: #AA7D39;}
   75%  {background-color: #9B4D8A;}
   100% {background-color: #255E69;}
}

body {
  -webkit-animation: hover-change linear 30s infinite;
  -moz-animation: hover-change linear 30s infinite;
}
